name: Sync issues to MySQL

# yamllint disable-line rule:truthy
on:
  issues:
    types: [opened, edited, labeled, unlabeled, closed, reopened]

permissions:
  contents: read

jobs:
  sync-issue:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.1.7

      - name: Set up Python
        uses: actions/setup-python@v5.2.0
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: python3 -m pip install --disable-pip-version-check mysql-connector-python==9.0.0

      - name: Sync issue to MySQL
        env:
          MYSQL_HOST: ${{ secrets.MYSQL_HOST }}
          MYSQL_PORT: ${{ secrets.MYSQL_PORT }}
          MYSQL_USER: ${{ secrets.MYSQL_USER }}
          MYSQL_PASSWORD: ${{ secrets.MYSQL_PASSWORD }}
          MYSQL_DATABASE: ${{ secrets.MYSQL_DATABASE }}
          GITHUB_EVENT_PATH: ${{ github.event_path }}
        run: python3 script/issue_to_mysql.py

